*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

header{
    text-align: center;
    margin: 1rem 0 1rem 0;
}

html{
    background-color: #f1f2ff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    color: orange;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

.centrar-texto{
    text-align: center;
}

.boton{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: orange;
    border-radius: 5px;
    color: #fff;
    height: 30px;
    width: 40%;
    text-decoration: none;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    opacity: .9;
}

.lista-productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
}

.lista-productos li{
    border: 2px solid #cdcdd4;
    border-radius: 5px;
    background-color: #9d2bce;
    text-align: center;
    padding-bottom: .8rem;
}


.lista-productos li p{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;
}

.lista-productos li span{
    color: orange;
    font-weight: bold;
}

.lista-productos a{
    margin: auto;
}