*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1{
    font-size: 2.8rem;
}
h2{
    font-size: 2.4rem;
}

/*Utilidades*/
.btn{

    border: 1px solid #0613ce;
    border-radius: 8px;
    padding: .5rem;
    color: #0613ce;
    text-decoration: none;
    width: 110px;
}

/*header*/
.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header a{
    text-decoration: none;
    color: black;
}
.barra ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.barra ul li{
    margin: 1rem;
}

.logo{
    font-weight: bold;
    margin: 1rem;

    font-size: 1.6rem;
}

/*main*/
.container{
    width: 60%;
    margin: 0 auto;
}

.container a{
    display: block;
    margin-top: 2rem;
}

.about-me{
    margin-top: 2rem;
}

.about-me p{
    margin-top: 1rem;
}

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: rgb(1, 46, 170);
    
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #4c5feb, #0613ce);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  