html{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 2.2rem;
}

h2{
    font-size: 1.8rem;
}

h3{
    font-size: 1.2rem;
}

h4{
    font-size: 1rem;
}

p{
    font-size: 1.2rem;
}

ul{
    font-size: 1.2rem;
}

/*Utilidades*/

.no-margin{
    margin: 0;
}

.logo{
    font-size: 1.8rem;
}

.centrar-texto{
    text-align: center;
}

.contenedor{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/*header*/

.site-header{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    color: #ffffff;
    text-align: center;
}

.site-header a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 200;
    padding-top: 1rem;
}

.site-header h1{
    margin-top: 5rem;
}

.site-header ul{
    list-style: none;
    margin-right: 2rem;
    font-weight: 400;
}

.site-header span{
    font-weight: 700;
    color: orange;
}

/*typing header*/

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 66%;
    }
}

@keyframes removeBorder {
    from, to{
        border-right: none;
    }
}

@media (min-width: 768px ){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links ul{
        display: flex;
    }

    .nav-links ul li{
        margin-right: 1rem;
    }

    .nav-links ul li:last-of-type{
        margin-right: 0;
    }

    .site-header h1{
        margin-top: 12.4rem;
    }

    .site-header p{
        position: absolute;
        overflow: hidden;
        border-right: 1px solid #fff;
        white-space: nowrap;
        animation: typing 2s steps(25) none;
        margin-left: 6rem;
    }


}
