html {
    box-sizing: border-box;
    font-size: 60.5%; /** 1rem = 10px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/** Globales **/
.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
    line-height: 1.2;
}
h3 {
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/*utilidades*/
.no-margin{
    margin: 0;
}
.centrar-texto{
    text-align: center;
}

.btn{
    display: block;
    text-decoration: none;
    height: 4.5rem;
    width: 20rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #ffffff;
}

.btn-primario {
    background-color: #000000;
}
.btn-secundario {
    background-color: #784d3c;
}

/*Header*/
@media (min-width: 768px ){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.site-header{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60rem;
}

.site-header a{
    color: #ffffff;
    text-decoration: none;
    
}

.site-header h1{
    text-align: center;
    font-weight: 400;
}

.site-header h1 span{
    font-weight: 700;
}
.linea{
    margin-top: 5rem;
    width: 70%;
}
/*navegacion*/

.navegacion a{
    text-align: center;
    display: grid;
    font-size: 2.2rem;
}

.navegacion a:hover{
    font-size: 2.6rem;
    color: orange;
    transition: ease 200ms;
}

@media (min-width: 768px ){
    .navegacion a{
        display: inline;
        margin-right: 2rem;
    }

    .navegacion a:last-of-type{
       margin: 0;
    }
}
/*texto header*/
.texto-header{
    color: #ffffff;
    text-align: center;
    margin-top: 5rem;
}

.texto-header p{
    margin-top: 8rem;
    font-size: 2.2rem;
}

@media (min-width: 768px ){
    .texto-header{
        margin-top: 20rem;
    }

    .texto-header p{
        margin-top: 8rem;
    }

}

/*contenido principal*/

.contenedor-principal{
    display: flex;
    flex-wrap: wrap;
}

.blog, 
.cursos {
    flex: 0 0 100%;
}

.blog p{
    font-size: 2.2rem;
}

.cursos{
    order: -1;
}

.cursos p{
    font-size: 2.2rem;
}


@media (min-width: 768px ){
    .contenedor-principal{
        justify-content: space-between;
    }

    .blog{
        flex-basis: 66.6%;
    }

    .cursos{
        flex-basis: calc(33.3% - 4rem);
        order: 2;
    }
}

/*aside*/
/*footer*/
.barra-footer{
    background-color: #000000;
    text-align: center;
}

.barra-footer a{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
    color: #ffffff;
}

.barra-footer a:hover{
    font-size: 2.6rem;
    color: orange;
    transition: ease 200ms;
}

@media (min-width: 768px ){
    .navegacion-footer a{
        display: inline;
        font-size: 2.2rem;
    }

    .barra-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 21rem;
    }
}