*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

.hero{
    display: flex;
    justify-content: center;
    background-image: url(../img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    color: #fff;
}
.contenido-hero{
    margin-top: 7rem;
}
/*header*/

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0 1rem 0 1rem;
}